<div id="tech_body">
  <div class="groups">
      <h3>Languages</h3>
      <p>Hover to display name:</p>
      <div class="tech_box">
          <div class="tooltip"><img class="l_slides show" src="assets/img/languages.jpeg" alt="Cover"> <span class="tooltiptext">Languages</span></div>
          <div class="tooltip"><img class="l_slides show" src="assets/img/html.png" alt="HTML5"> <span class="tooltiptext">HTML5</span></div>
          <div class="tooltip"><img class="l_slides show" src="assets/img/css3.png" alt="CSS#"><span class="tooltiptext">CSS3</span></div>
          <div class="tooltip"><img class="l_slides show" src="assets/img/javascript_1.png" alt="Javascript"><span class="tooltiptext">Javascript</span></div>
          <div class="tooltip"><img class="l_slides show" src="assets/img/ts.png" alt="Typescript"><span class="tooltiptext">Typescript</span></div>
          <div class="tooltip"><img class="l_slides show" src="assets/img/python.png" alt="Python"><span class="tooltiptext">Python</span></div>
          <div class="tooltip"><img class="l_slides show" src="assets/img/ruby.png" alt="Ruby"><span class="tooltiptext">Ruby</span></div>
          <div class="tooltip"><img class="l_slides show" src="assets/img/sql_icon.png" alt="SQL"><span class="tooltiptext">SQL</span></div>
      </div>
  </div>
  <div class="groups">
      <h3>Frameworks</h3>
      <p>Hover to display name:</p>
      <div class="tech_box">
          <div class="tooltip"><img class="f_slides show" src="assets/img/frameworks.png" alt="Cover"> <span class="tooltiptext">Frameworks</span></div>
          <div class="tooltip"><img class="f_slides show" src="assets/img/angular.png" alt="Angular"> <span class="tooltiptext">Angular.js</span></div>
          <div class="tooltip"><img class="f_slides show" src="assets/img/express.png" alt="Express.js"><span class="tooltiptext">Express.js</span></div>
          <div class="tooltip"><img class="f_slides show" src="assets/img/socket.png" alt="Socket.io"><span class="tooltiptext">Socket.io</span></div>
          <div class="tooltip"><img class="f_slides show" src="assets/img/django.png" alt="Django"><span class="tooltiptext">Django</span></div>
          <div class="tooltip"><img class="f_slides show" src="assets/img/flask.png" alt="Flask"><span class="tooltiptext">Flask</span></div>
          <div class="tooltip"><img class="f_slides show" src="assets/img/rails.png" alt="Rails"><span class="tooltiptext">Rails</span></div>
          <div class="tooltip"><img class="f_slides show" src="assets/img/jquery.png" alt="Jquery"><span class="tooltiptext">Jquery</span></div>
      </div>
  </div>
  <div class="groups">
      <h3>Databases</h3>
      <p>Hover to display name:</p>
      <div class="tech_box">
          <div class="tooltip"><img class="d_slides show" src="assets/img/databases.png" alt="Cover"> <span class="tooltiptext">Databases</span></div>
          <div class="tooltip"><img class="d_slides show" src="assets/img/mysql.png" alt="MySQL"> <span class="tooltiptext">MySQL</span></div>
          <div class="tooltip"><img class="d_slides show" src="assets/img/SQLite.png" alt="SQLite"><span class="tooltiptext">SQLite</span></div>
          <div class="tooltip"><img class="d_slides show" src="assets/img/postgres.png" alt="Postgres"><span class="tooltiptext">Postgres</span></div>
          <div class="tooltip"><img class="d_slides show" src="assets/img/mongodb.png" alt="MongoDB"><span class="tooltiptext">MongoDB</span></div>
      </div>
  </div>
  <div class="groups">
  <h3>Other</h3>
  <p>Hover to display name:</p>
  <div class="tech_box">
      <div class="tooltip"><img class="o_slides show" src="assets/img/ajax_1.png" alt="Ajax"> <span class="tooltiptext">Ajax.js</span></div>
      <div class="tooltip"><img class="o_slides show" src="assets/img/api.png" alt="API"><span class="tooltiptext">API</span></div>
      <div class="tooltip"><img class="o_slides show" src="assets/img/aws.png" alt="AWS"><span class="tooltiptext">AWS</span></div>
      <div class="tooltip"><img class="o_slides show" src="assets/img/aws-ec2.png" alt="EC2"><span class="tooltiptext">EC2</span></div>
      <div class="tooltip"><img class="o_slides show" src="assets/img/github.png" alt="GitHub"><span class="tooltiptext">GitHub</span></div>
      <div class="tooltip"><img class="o_slides show" src="assets/img/nodejs.png" alt="NodeJS"><span class="tooltiptext">NodeJS</span></div>
      <div class="tooltip"><img class="o_slides show" src="assets/img/postman.png" alt="Postman"><span class="tooltiptext">Postman</span></div>
      <div class="tooltip"><img class="o_slides show" src="assets/img/npm.png" alt="NPM"><span class="tooltiptext">NPM</span></div>
      <div class="tooltip"><img class="o_slides show" src="assets/img/json.png" alt="Json"><span class="tooltiptext">Json</span></div>
  </div>
</div>

