/* //contact */
#c_body {
    text-align: center;
    background-color: rgb(126, 124, 124);
    /* // height: 800px; */
    padding: 30px 0px;
}
#c_body h1 {
    margin-top: 0px;
}
.il-b {
    display: inline-block;
}
#email {
    display: block;
    margin-bottom: 30px;
}
#c_body a {
    font-size: 24px;
}
#c_body h4 {
    font-size: 24px;
    margin-top: 0px;
}
#c_body button {
    background-color: blue;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
}
#c_body button:hover {
    background-color: rgb(76, 125, 199);
}
#resume {
    height: 100px;
    cursor: pointer;
    transition: 0.3s;
}
#resume_div {
    margin-bottom: 30px;
}
.link {
    height: 80px;
    width: 80px;
    margin-right: 20px;
}
.link:hover {
    opacity: 0.7;
}
#resume:hover {
    opacity: 0.7;
}
h2{
    color: #ccc;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-bottom: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
  
/* Modal Content (Image) */
.modal-content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    display: block;
    width: 60%;
    max-width: 700px;
}
  
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* // Media Queries */
@media only screen and (max-width: 480px) {
    #h_body #photo {
        width: 35%;
    }
}
@media only screen and (max-width: 720px) {
    #h_body {
        height: 270px;
    }
    #draft .dot {
        width: 7px;
        height: 7px;
    }
    #socket .dot {
        width: 7px;
        height: 7px;
    }
    #socket, #draft {
        width: 80%;
    }
    #about_body img {
        width: 80%;
    }
    #about {
        width: 80%;
        max-height: 300px;
        margin-top: 20px;
    }
    #about_body h1 {
        margin-bottom: 10px;
    }

}
@media only screen and (min-width: 720px) {
    #h_body {
        height: 550px;
    }
    #socket, #draft {
        width: 60%;
    }
}
@media only screen and (min-width: 1024px) {
    #h_body {
        height: auto;
    }
    #socket, #draft {
        width: 60%;
    }
}