<div id="about_body">
  <h1>Albert Garcia</h1>
  <img src="assets/img/profile_1.png" alt="profile picture">
  <div id="about">
      <p>
          I am a self-motivated full stack developer, with great critical thinking and problem-solving skills, and the ability to thrive in a fast-paced environment. I recently graduated from the Coding Dojo bootcamp, with the highest possible assessment in the python, ruby, and MEAN stacks. During the bootcamp, two of my cohort members and I collaborated to build a pac man type multiplayer game. We were able to work cohesively and share the workload to produce a working game in about a week. We used GitHub to share the project and learned how to manage a repository with multiple people working within it.
      </p>
      <p>
          Before attending Coding Dojo, I was in the ever changing transportation industry, which requires frequent quick decisions, and innovative thinking. I worked for a less than truckload carrier, as a linehaul supervisor. I oversaw the movement of all the products that were leaving the city, by coordinating with the dock and other terminals I worked to move all the products to their destinations on time while minimizing costs.
      </p>
      <p>
          For my academic career, I attended Texas Tech University and graduated with two Bachelors of Business Administration in Management and Marketing (with a concentration in supply chain management) Throughout my education, I learned time management and leadership skills as I worked a full time job to pay for my education. At work, I first became a crew lead, then an overnight manager.
      </p>
      <p>
          I Am looking to join a creative and passionate team working together to write great code, in an exciting environment that will allow me to use my strong analytical skills.
      </p>
  </div>
</div>